.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 0.4rem;
}

.login_form {
    flex: 1;
}

.login_form ul {
    width: 100%;
    height: 100%;
}

.login_form ul input {
    width: 100%;
    height: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
}

.login_form ul li:first-child {
    padding-top: 1rem;

}

.login_form ul li {
    margin: 0 0.7rem;
}

.login_li {
    margin-top: 0.2rem;
}

.login_form ul li button {
    width: 100%;
    height: 2.5em;
    border-radius: 0.2rem;
    background-color: #ff9621;
    border: none;
    outline: none;
    color: #fff;
}

.login_form ul .login_button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.login_forget {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}